div {
  display: block;
}

body,
html {
  height: 100%;
  margin: 0px;
}
#container {
  height: 100%;
}

.bg {
  background-image: url("../../assets/img/not_found.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111;
  color: #fff;
  background-size: cover;
  background-position: 50%;
}

.darker {
  width: 100%;
  height: 100%;
  position: fixed;
  background: transparent;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0.8)
  );
}

.top-icon {
  position: absolute;
  width: 100%;
  z-index: 2;
  text-align: center;
  top: 18px;
}

.top-icon-link {
  opacity: 0.8;
  transition: opacity 0.1s ease-in-out;
}

.center-status {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  max-width: 580px;
  z-index: 1;
  padding: 0 20px;
  margin: 0 auto;
}

.center-status-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.center-status-text > h1 {
  font-size: 90px;
  margin: 0 0 -24px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.center-status-text-content {
  font-size: 18px;
  margin: 36px auto 48px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  line-height: 1.6;
}

.center-status-button {
  fill: currentColor;
  background-color: hsla(0, 0%, 100%, 0.9);
  display: inline-block;
  height: 32px;
  padding: 0 11px;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  text-align: center;
  user-select: none;
  text-decoration: none;
  font-weight: 500;
  color: #767676;
  transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
  text-decoration-skip-ink: auto;
}
