/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .sheet-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .col-md-6 {
    width: 66.666667%;
    max-width: 500px;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11 {
    float: left;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .sheet-padding {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .header-logo {
    display: none;
  }

  .header-logo-img {
    width: 70px;
  }
  .col-sm-8 {
    width: 100%;
  }

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11 {
    float: left;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .col-md-6 {
    width: 100%;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11 {
    float: left;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
