/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .navigation {
    display: none;
  }

  .navigation ul {
    width: 100%;
  }

  .navigation ul li {
    display: block;
    width: 100%;
  }

  .upload, .action-area {
    display: none;
  }

  .fa-bars {
    display: block;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}