<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/css//materialize.min.css">
  <link rel="stylesheet" href="../assets/css//materialize-social.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../styles/homepage/homepage.css">
  <link rel="stylesheet" href="../styles/categories/categories.css">
  <link rel="stylesheet" href="../styles/homepage/indexMedia.css">

</head>

<body>
  <header>
    <nav>
      <div class="logo">
        <img src="../assets/img/logo.png" alt="logo">
      </div>
      <div class="searchbox">
        <i class="material-icons">search</i>
        <input type="text" placeholder="Search Photos">
      </div>
      <div class="navigation">
        <ul>
          <li><a href="#">Collections</a></li>
          <li><a href="#">Explore</a></li>
          <li><a href="#">About us</a></li>
        </ul>
      </div>
      <div class="action-area">
        <a class="waves-light btn submit-btn upload">Submit a photo</a>
        <a class="waves-light btn submit-btn login">Login</a>
        <a class="waves-light btn join-btn">Join free</a>
      </div>
      <i class="fa fa-bars" onclick="openNav()"></i>

    </nav>
    <div id="mySidenav" class="mynavbar">
      <a href="javascript:void(0)" class="closebtn" onclick="openNav()">&times;</a>
      <ul>
        <li><a href="#">Collections</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#">About us</a></li>
      </ul>
      <a class="waves-light btn ">Submit a photo</a>
      <a class="waves-light btn ">Login</a>
      <a class="waves-light btn ">Join free</a>
    </div>
    <div class="category">
      <div class="category-group">
        <ul>
          <li><a href="#">Wallpapers</a></li>
          <li><a href="#">Nature</a></li>
          <li><a href="#">Architecture</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Film</a></li>
          <li><a href="#">Animal</a></li>
          <li><a href="#">Travel</a></li>
          <li><a href="#">Food</a></li>
          <li><a href="#">Fashion</a></li>
          <li><a href="#">Event</a></li>
          <li><a href="#">Art</a></li>
          <li><a href="#">Culture</a></li>
          <li><a href="#">Health</a></li>
          <li><a href="#">People</a></li>
          <li><a href="#">Experimental</a></li>
        </ul>
      </div>
    </div>
  </header>
  <section class="categories">
    <h4>Categories</h4>
    <div class="description">
      Welcome to our categories page !<br>
      You can find hundreds of beautiful pictures by categories.
    </div>
    <div class="categories-container">
      <div class="column">
        <div>
          <a href="#">
            <div class="category-cover">
              <div class="category-images">
                <div class="first-images">
                  <img src="https://www.w3schools.com/css/img_5terre.jpg">
                </div>
                <div class="second-images">
                  <div>
                    <img src="https://www.w3schools.com/css/img_mountains.jpg" alt="images">
                  </div>
                  <div>
                    <img src="https://www.w3schools.com/css/img_lights.jpg" alt="images">
                  </div>
                </div>
              </div>
            </div>
            <h5>Natural</h5>
          </a>
          <div class="photo-count">
            74 photos
          </div>
          <div class="category-tags">
            <div><a href="#">lion</a></div>
            <div><a href="#">wild</a></div>
            <div><a href="#">hunter</a></div>
            <div><a href="#">cats</a></div>
          </div>
        </div>
      </div>
      <div class="column">
        <div>
          <a href="#">
            <div class="category-cover">
              <div class="category-images">
                <div class="first-images">
                  <img src="https://www.w3schools.com/w3images/falls2.jpg">
                </div>
                <div class="second-images">
                  <div>
                    <img src="https://www.w3schools.com/w3images/mist.jpg" style="width:100%; z-index: -1;">
                  </div>
                  <div>
                    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%; z-index: -1;">
                  </div>
                </div>
              </div>
            </div>
            <h5>Waterfall</h5>
          </a>
          <div class="photo-count">
            74 photos
          </div>
          <div class="category-tags">
            <div><a href="#">water</a></div>
            <div><a href="#">waterfall</a></div>
            <div><a href="#">mountain</a></div>
          </div>
        </div>
      </div>
      <div class="column">
        <div>
          <a href="#">
            <div class="category-cover">
              <div class="category-images">
                <div class="first-images">
                  <img src="../assets/img/animal/bg3.jpg">
                </div>
                <div class="second-images">
                  <div>
                    <img src="../assets/img/animal/cat.jpeg" alt="images">
                  </div>
                  <div>
                    <img src="../assets/img/animal/unknown-2.jpg" alt="images">
                  </div>
                </div>
              </div>
            </div>
            <h5>Animal</h5>
          </a>
          <div class="photo-count">
            30 photos
          </div>
          <div class="category-tags">
            <div><a href="#">lion</a></div>
            <div><a href="#">cat</a></div>
            <div><a href="#">bird</a></div>
          </div>
        </div>
      </div>
      <div class="column">
        <div>
          <a href="#">
            <div class="category-cover">
              <div class="category-images">
                <div class="first-images">
                  <img src="../assets/img/anime/i2.jpg">
                </div>
                <div class="second-images">
                  <div>
                    <img src="../assets/img/anime/i3.jpg" alt="images">
                  </div>
                  <div>
                    <img src="../assets/img/anime/i4.jpg" alt="images">
                  </div>
                </div>
              </div>
            </div>
            <h5>Anime</h5>
          </a>
          <div class="photo-count">
            7 photos
          </div>
          <div class="category-tags">
            <div><a href="#">girl</a></div>
            <div><a href="#">boy</a></div>
            <div><a href="#">hunter</a></div>
            <div><a href="#">japan</a></div>
          </div>
        </div>
      </div>
      <div class="column">
        <div>
          <a href="#">
            <div class="category-cover">
              <div class="category-images">
                <div class="first-images">
                  <img src="../assets/img/food/f2.jpg">
                </div>
                <div class="second-images">
                  <div>
                    <img src="../assets/img/food/f3.jpg" alt="images">
                  </div>
                  <div>
                    <img src="../assets/img/food/f1.jpg" alt="images">
                  </div>
                </div>
              </div>
            </div>
            <h5>Food</h5>
          </a>
          <div class="photo-count">
            74 photos
          </div>
          <div class="category-tags">
            <div><a href="#">lion</a></div>
            <div><a href="#">wild</a></div>
            <div><a href="#">hunter</a></div>
            <div><a href="#">cats</a></div>
          </div>
        </div>
      </div>
      <div class="column">
        <div>
          <a href="#">
            <div class="category-cover">
              <div class="category-images">
                <div class="first-images">
                  <img src="https://www.w3schools.com/css/img_5terre.jpg">
                </div>
                <div class="second-images">
                  <div>
                    <img src="https://www.w3schools.com/css/img_mountains.jpg" alt="images">
                  </div>
                  <div>
                    <img src="https://www.w3schools.com/css/img_lights.jpg" alt="images">
                  </div>
                </div>
              </div>
            </div>
            <h5>Natural</h5>
          </a>
          <div class="photo-count">
            74 photos
          </div>
          <div class="category-tags">
            <div><a href="#">lion</a></div>
            <div><a href="#">wild</a></div>
            <div><a href="#">hunter</a></div>
            <div><a href="#">cats</a></div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">WEB ASSIGNMENT !</h5>
          <p class="grey-text text-lighten-4">This is our product for the assignment in web class.</p>

        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">About us</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Collections</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Category</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2019 Copyright
        <div class="social">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="	fa fa-pinterest"></a>
          <i class="fa fa-github" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </footer>
  <script src="../javascripts/materialize.min.js"></script>
  <script src="../javascripts/hompage.js"></script>
</body>

</html>