<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/css//materialize.min.css">
  <link rel="stylesheet" href="../assets/css//materialize-social.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../styles/homepage/homepage.css">
  <link rel="stylesheet" href="../styles/homepage/indexMedia.css">
  <link rel="stylesheet" href="../styles/homepage/userMedia.css">
</head>

<body>
  <header>
    <nav>
      <div class="logo">
        <img src="../assets/img/logo.png" alt="logo">
      </div>
      <div class="searchbox">
        <i class="material-icons">search</i>
        <input type="text" placeholder="Search Photos">
      </div>
      <div class="navigation">
        <ul>
          <li><a href="#">Collections</a></li>
          <li><a href="#">Explore</a></li>
          <li><a href="#">About us</a></li>
        </ul>
      </div>
      <div class="action-area">
        <a class="waves-light btn submit-btn upload modal-trigger" href="#uploadModal">Submit a photo</a>
        <a class="waves-light btn submit-btn login" href="./login.html">Login</a>
        <a class="waves-light btn join-btn" href="./register.html">Join free</a>
      </div>
      <i class="fa fa-bars" onclick="openNav()"></i>

    </nav>

    <div id="mySidenav" class="mynavbar">
      <a href="javascript:void(0)" class="closebtn" onclick="openNav()">&times;</a>
      <ul>
        <li><a href="#">Collections</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#">About us</a></li>
      </ul>
      <a class="waves-light btn modal-trigger" href="#uploadModal">Submit a photo</a>
      <a class="waves-light btn ">Login</a>
      <a class="waves-light btn ">Join free</a>
    </div>
    <div class="category">
      <div class="category-group">
        <ul>
          <li><a href="#">Wallpapers</a></li>
          <li><a href="#">Nature</a></li>
          <li><a href="#">Architecture</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Film</a></li>
          <li><a href="#">Animal</a></li>
          <li><a href="#">Travel</a></li>
          <li><a href="#">Food</a></li>
          <li><a href="#">Fashion</a></li>
          <li><a href="#">Event</a></li>
          <li><a href="#">Art</a></li>
          <li><a href="#">Culture</a></li>
          <li><a href="#">Health</a></li>
          <li><a href="#">People</a></li>
          <li><a href="#">Experimental</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="heading">
    <div class="heading-welcome">
      <div id="title">
        Photo Gallery
      </div>
      <div class="description">
        <div>Welcome to our website</div>
        <div>The best and free wallpapers shared by people all over the world.</div>
      </div>
      <div class="searchbox heading-search">
        <i class="material-icons">search</i>
        <input type="text" placeholder="Search Photos">
      </div>
    </div>
  </div>
  <div class="session-title">
    <h4>Our stunning images</h4>
  </div>

  <div class='image-gallery'>
    <div class="column">
      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%; z-index: -1;" alt="img">

        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%; z-index: -1;" alt="image">
        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar" style="z-index: 2;">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/falls2.jpg" style="width:100%; z-index: -1;" alt="image">
        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%; z-index: -1;" alt="image">
        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/nature.jpg" style="width:100%; z-index: -1;" alt="image">
        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="column">
      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%; z-index: -1;" alt="image">

        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%; z-index: -1;" alt="image">

        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/mountainskies.jpg" style="width:100%; z-index: -1;" alt="image">

        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%; z-index: -1;" alt="image">

        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/ocean.jpg" style="width:100%; z-index: -1;" alt="image">
        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/nature.jpg" style="width:100%; z-index: -1;" alt="image">

        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%; z-index: -1;" alt="image">

        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/mist.jpg" style="width:100%; z-index: -1;" alt="image">

        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/nature.jpg" style="width:100%; z-index: -1;" alt="image">

        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/falls2.jpg" style="width:100%; z-index: -1;" alt="image">

        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%; z-index: -1;" alt="image">

        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="column">
      <img src="https://www.w3schools.com/w3images/falls2.jpg" alt="image" style="width:100%; z-index: -1;">
      <img src="https://www.w3schools.com/w3images/paris.jpg" alt="image" style="width:100%; z-index: -1;">

      <img src="https://www.w3schools.com/w3images/paris.jpg" alt="image" style="width:100%; z-index: -1;">
      <img src="https://www.w3schools.com/w3images/rocks.jpg" alt="image" style="width:100%; z-index: -1;">

    </div>
    <div class="column">
      <img src="https://www.w3schools.com/w3images/mist.jpg" alt="image" style="width:100%; z-index: -1;">
      <img src="https://www.w3schools.com/w3images/paris.jpg" alt="image" style="width:100%; z-index: -1;">
      <img src="https://www.w3schools.com/w3images/wedding.jpg" alt="image" style="width:100%; z-index: -1;">
      <img src="https://www.w3schools.com/w3images/rocks.jpg" alt="image" style="width:100%; z-index: -1;">
    </div>
    <div class="column">
      <img src="https://www.w3schools.com/w3images/underwater.jpg" alt="image" style="width:100%; z-index: -1;">
      <img src="https://www.w3schools.com/w3images/nature.jpg" alt="image" style="width:100%; z-index: -1;">
      <img src="https://www.w3schools.com/w3images/mist.jpg" alt="image" style="width:100%; z-index: -1;">
      <img src="https://www.w3schools.com/w3images/paris.jpg" alt="image" style="width:100%; z-index: -1;">
    </div>
    <a class="waves-light btn join-btn">Want more ?</a>
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">WEB ASSIGNMENT !</h5>
          <p class="grey-text text-lighten-4">This is our product for the assignment in web class.</p>

        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">About us</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Collections</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Category</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2019 Copyright
        <div class="social">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="	fa fa-pinterest"></a>
          <i class="fa fa-github" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </footer>

  <div id="viewImageModal" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s1 m1">
          <div class="row">
            <div class="col s12">
              <img src="../images/cat.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
          </div>
        </div>
        <div class="col s11 m6">
          <span class="black-text">
            Kaiser Wilhem I von Hohenzollern<br>
            <span class="grey-text" style="font-size: 80%;">
              NANI MOOOOOOOOOOOOOOOO
            </span>
          </span>
        </div>
        <div id="view-image-actions" class="col s5 m5 right-align">
          <a class="btn white red-text"><i class="material-icons">favorite</i></a>
          <a class="btn white blue-grey-text darken-4"><i class="material-icons left">add</i>Collect</a>
          <a class="btn white blue-grey-text darken-4">Download</a>
        </div>
      </div>
      <div class="row">
        <div id="view-image-actions-mobile" class="col s12 left-align">
          <a class="btn btn-small white red-text"><i class="material-icons">favorite</i></a>
          <a class="btn btn-small white blue-grey-text darken-4"><i class="material-icons">add</i></a>
          <a class="btn btn-small white blue-grey-text darken-4 right"><i class="material-icons">file_download</i></a>
        </div>
      </div>
      <div class="row s8">
        <div class="col s12 center-align">
          <img class="mainImage" src="../images/wallpaper.jpg" alt="Main image">
        </div>
      </div>
    </div>
    <div class="row s1 right-align">
      <h6 class="grey-text left">cat nature beautiful</h6>
      <a class="btn white grey-text lighten-1 modal-trigger" href="#shareModal"><i class="material-icons">share</i></a>
      <a class="btn white grey-text lighten-1 modal-trigger" href="#viewInfoModal"><i
          class="material-icons">info</i></a>
    </div>
    <div class="row center-align container">
      <h5 class="left-align">Related photos</h5>
      <div class="col s12 m6 l4 img-container">
        <img src="https://www.w3schools.com/w3images/nature.jpg" style="width:100%; z-index: -1;" alt="image">

        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger modal-close "
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user" style="z-index: 2;">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 img-container">
        <img src="https://www.w3schools.com/w3images/falls2.jpg" style="width:100%; z-index: -1;" alt="wallpaper">

        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger modal-close "
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user" style="z-index: 2;">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4 img-container">
        <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%; z-index: -1;" alt="wallpaper">

        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-trigger modal-close "
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user" style="z-index: 2;">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4 img-container">
        <img src="https://www.w3schools.com/w3images/mountainskies.jpg" style="width:100%; z-index: -1;"
          alt="wallpaper">

        <div class="overlay" style="z-index: 0;">
          <a href="#viewImageModal" class="modal-close modal-trigger"
            style="position: absolute; top: 0; left: 0; z-index: 1; height: 100%; width: 100%;"></a>
          <div class="img-action" style="z-index: 2;">
            <button>
              <i class="fa fa-heart"></i>
            </button>
            <button>
              <i class="fa fa-plus"></i>
              Collect
            </button>
          </div>
          <div class="img-user" style="z-index: 2;">
            <div class="img-user-left" style="z-index: 2;">
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
              <span>Jason Park</span>
            </div>
            <div class="img-user-right">
              <button>
                <i class="fa fa-download"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row left-align container">
      <h5>Related Tags</h5><br>
      <div class="chip " style="cursor: pointer;">
        Plant
      </div>
      <div class="chip" style="cursor: pointer;">
        Food
      </div>
      <div class="chip" style="cursor: pointer;">
        Pumpkin
      </div>
      <div class="chip" style="cursor: pointer;">
        Vegetable
      </div>
      <div class="chip" style="cursor: pointer;">
        Produce
      </div>
      <div class="chip" style="cursor: pointer;">
        Squash
      </div>
      <div class="chip" style="cursor: pointer;">
        Animal
      </div>
      <div class="chip" style="cursor: pointer;">
        Cat
      </div>
      <div class="chip" style="cursor: pointer;">
        Mammal
      </div>
      <div class="chip" style="cursor: pointer;">
        Pet
      </div>

    </div>
  </div>

  <div id="viewInfoModal" class="modal">
    <div class="modal-content">
      <div class="section">
        <h3>Info</h3>
        <h6>Published on October 18, 2019</h6>
      </div>
      <div class="section">
        <div class="row">
          <div class="col s4 m6">
            <i class="materialize-icon">visibility</i><br>
            <h3>9,351</h3>
            <h6 class="grey-text">0 since last month</h6>
          </div>
          <div class="col s4 m6">
            <i class="materialize-icon">arrow_downward</i>
            <h3>17</h3>
            <h6 class="grey-text">0 since last month</h6>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="section">
        <div class="row">
          <div class="col s6 m4">
            <h6 class="grey-text">Camera Make</h6>
            <h5>SONY</h5>
          </div>
          <div class="col s6 m4">
            <h6 class="grey-text">Camera Model</h6>
            <h5>ILCE-6300</h5>
          </div>
          <div class="col s6 m4">
            <h6 class="grey-text">Focal Length</h6>
            <h5>23.0mm</h5>
          </div>
          <div class="col s6 m4">
            <h6 class="grey-text">Aperture</h6>
            <h5>ƒ/4.0</h5>
          </div>
          <div class="col s6 m4">
            <h6 class="grey-text">Shutter Speed</h6>
            <h5>1/160s</h5>
          </div>
          <div class="col s6 m4">
            <h6 class="grey-text">ISO</h6>
            <h5>2000</h5>
          </div>
          <div class="col s6 m4">
            <h6 class="grey-text">Dimensions</h6>
            <h5>2788 × 4182</h5>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="shareModal" class="modal">
    <div class="modal-content">
      <h4>Share</h4>
      <h6>Photo by Florian Ohl</h6>
      <div class="row" id="share-actions">
        <a class="btn btn-small black-text grey lighten-5 col m3"><i
            class="fa fa-facebook left light-blue-text darken-4"></i>Facebook</a>
        <a class="btn btn-small black-text grey lighten-5 col m3"><i
            class="fa fa-pinterest left red-text accent-2"></i>Pinterest</a>
        <a class="btn btn-small black-text grey lighten-5 col m3"><i
            class="fa fa-twitter left blue-text lighten-1 "></i>Twitter</a>
        <a class="btn btn-small black-text grey lighten-5 col m3"><i class="material-icons left">email</i>Email</a>
      </div>
      <div class="row" id="share-actions-mobile">
        <a class="btn btn-small black-text grey lighten-5 col s4"><i
            class="fa fa-facebook light-blue-text darken-4"></i></a>
        <a class="btn btn-small black-text grey lighten-5 col s4"><i class="fa fa-pinterest red-text accent-2"></i></a>
        <a class="btn btn-small black-text grey lighten-5 col s4"><i class="fa fa-twitter blue-text lighten-1 "></i></a>
        <a class="btn grey lighten-5 black-text col s12"><i class="material-icons">email</i>Email</a>
      </div>
    </div>
  </div>
  <div id="uploadModal" class="modal">
    <div class="modal-content">
      <div class="row s1">
        <div class="col s12">
          <h5>Publish your first photo</h5>
        </div>
      </div>
      <div class="row s11" style="border: 1px dashed;">
        <div class="col s12 valign-wrapper" style="height: 250px;">
          <div class="container">
            <h6 class="center-align" id="tooltip-upload">Drop your image here or <a href="#!"
                onclick="document.getElementById('fileInput').click();" class="file-field grey-text accent-4">browse</a>
            </h6>
            <h6 class="center-align" id="tooltip-upload-mobile"><a href="#!"
                onclick="document.getElementById('fileInput').click();" class="file-field grey-text accent-4">Browse</a>
            </h6>
            <input type="file" style="display: none;" onchange="readURL(this)" id="fileInput">
          </div>
        </div>
        <div class="col s1">
        </div>
        <div class="col s10" id="uploadTips">
          <div class="row">
            <div class="col s4">
              <ul>
                <li class="grey-text darken-4">• <b>High quality photos</b> (at least <b>5MP</b>)</li>
                <li class="grey-text darken-4">• Photos are <b>clear & original</b></li>
              </ul>
            </div>
            <div class="col s4">
              <ul>
                <li class="grey-text darken-4">• Only upload photos you <b>own the rights</b> to</li>
                <li class="grey-text darken-4">• Zero tolerance for nudity, violence or hate</li>
              </ul>
            </div>
            <div class="col s4">
              <ul>
                <li class="grey-text darken-4">• Respect the intellectual property of others</li>
                <li class="grey-text darken-4">• Read the terms</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col s1">

        </div>
      </div>
      <div class="row center-align" id="previewRow">
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="btn btn-white btn-tiny modal-close">Cancel</a>
      <a href="#!" class="btn btn-grey btn-tiny">Publish</a>
    </div>
  </div>
  <script src="../javascripts/materialize.min.js"></script>
  <script src="../javascripts/hompage.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let elems = document.querySelectorAll('.modal');

      let instances = M.Modal.init(elems, { onOpenStart, });
      let imageInstance = M.Modal.init(document.getElementById('viewImageModal'), { onOpenStart });
      let infoInstance = M.Modal.init(document.getElementById('viewInfoModal'));
      let shareInstance = M.Modal.init(document.getElementById('shareModal'));
      let uploadInstance = M.Modal.init(document.getElementById('uploadModal'));

      var materialBoxInstance = M.Materialbox.init(document.querySelectorAll('.materialboxed'));

      function onOpenStart(modal, trigger) {
        modal.scrollTop = 0;
        let imgSrc = trigger.parentElement.parentElement.firstElementChild.src;
        mainImg = modal.getElementsByClassName("mainImage")[0];
        mainImg.src = imgSrc;
      }

    });

  </script>
</body>

</html>