<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/css/materialize.css">
    <link rel="stylesheet" href="../assets/css/materialize.min.css">
    <link rel="stylesheet" href="/styles/notfoundpage/not_found.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="../styles/notfoundpage/indexMedia.css">
    <script src="/javascripts/not_found.js"></script>
    <script src="../assets/js/materialize.js"></script>
    <script src="../assets/js/materialize.min.js"></script>
</head>

<body>
    <div id="container">
        <div class="bg">
            <div class="darker">
                <div class="top-icon">
                    <a href="\" class="top-icon-link" title="Back to Unsplash">
                        <svg width="50" height="50">
                            <rect x="0" y="0" width="25" height="25" fill="#ffffff" />
                            <g id="my-group">
                                <rect x="0" y="25" width="25" height="25" fill="#ffffff" />
                                <rect x="25" y="0" width="25" height="25" fill="#ffffff" />
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="center-status">
                    <div class="center-status-text">
                        <h1>404</h1>
                        <div class="center-status-text-content">
                            <p>Hm, the page you were looking for doesn't seem to exist anymore.</p>
                        </div><a href="\" class="center-status-button">Back to Mainpage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>