<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Error!</title>
    <link rel="stylesheet" href="../assets/css//materialize.min.css">
    <link rel="stylesheet" href="../assets/css//materialize-social.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/notfoundpage/not_found.css">
    <link rel="stylesheet" href="../styles/notfoundpage/indexMedia.css">
</head>

<body>
    <div id="container">
        <div class="bg">
            <div class="darker">
                <div class="top-icon">
                    <a href="#" class="top-icon-link" title="Back to Unsplash">
                        <img class="header-logo-img" alt="logo" src="../assets/img/logo.png">
                    </a>
                </div>
                <div class="center-status">
                    <div class="center-status-text">
                        <h1>404</h1>
                        <div class="center-status-text-content">
                            <p>Hm, the page you were looking for doesn't seem to exist anymore.</p>
                        </div><a href="#" class="center-status-button">Back to Mainpage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/js/materialize.js"></script>
    <script src="../assets/js/materialize.min.js"></script>
</body>

</html>