<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Account</title>
    <link rel="stylesheet" href="../assets/css//materialize.min.css">
    <link rel="stylesheet" href="../assets/css//materialize-social.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/register/register.css">
    <link rel="stylesheet" href="../styles/register/indexMedia.css">
</head>

<body>

    <div class="wrapper">
        <div class="rg-container">
            <div class="sheet sheet-inverse left-panel"
                style="background-image: url(https://images.unsplash.com/photo-1566240866898-00b7004fbc51?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max);">
                <div class="content">
                    <div>
                        <img class="logo" alt="Logo" src="../assets/img/logo.png">
                    </div>

                    <div>
                        <h1 class="title">Creation starts here</h1>
                        <h2 class="sub-title">Access xxx free, high-resolution photos you can’t find
                            anywhere else</h2>
                    </div>

                    <div>
                        <p class="credit">Uploaded 2 months ago by Dang Bao</p>
                    </div>
                </div> <!-- .content -->
            </div> <!-- close .left-panel -->

            <div class="right-panel">
                <div class="spacer"></div>
                <div class="login-form">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="text-center sheet-padding-bottom">
                                <h4 class="alpha text-weight-bold">Join With Us</h4>
                                <p>Already have an account? <a rel="nofollow" href="#">Login</a></p>
                            </div>

                            <div class="form-group">
                                <a class="btn btn-block-level btn-facebook" data-disable-with="···" rel="nofollow"
                                    data-method="post" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        enable-background="new 0 0 24 24" class="icon">
                                        <style type="text/css">
                                            .st1 {
                                                display: inline;
                                            }

                                            .st2 {
                                                fill: none;
                                            }

                                            .st3 {
                                                fill-rule: evenodd;
                                                clip-rule: evenodd;
                                            }
                                        </style>
                                        <path
                                            d="M20 3h-16c-.6 0-1 .4-1 1v16c0 .5.4 1 1 1h8.6v-7h-2.3v-2.7h2.3v-2c0-2.3 1.4-3.6 3.5-3.6 1 0 1.8.1 2.1.1v2.4h-1.4c-1.1 0-1.3.5-1.3 1.3v1.7h2.7l-.4 2.8h-2.3v7h4.5c.5 0 1-.4 1-1v-16c0-.6-.4-1-1-1z">
                                        </path>
                                        </path>
                                    </svg>

                                    Join using Facebook
                                </a> </div>

                            <div class="form-separator">
                                <p>or</p>
                            </div> <!-- close .form-separator -->




                            <div class="form">
                                <form action="#" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden"
                                        value="✓"><input type="hidden">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group has-error">
                                                <label for="user_first_name">First name</label>
                                                <input autofocus="autofocus"
                                                    class="form-control js-validate-field-on-blur" required="required"
                                                    type="text" name="user[first_name]" id="user_first_name">

                                            </div> <!-- close .form-group -->
                                        </div> <!-- close .col -->

                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="user_last_name">Last name</label>
                                                <input class="form-control" type="text" name="user[last_name]"
                                                    id="user_last_name">
                                            </div> <!-- close .form-group -->
                                        </div> <!-- close .col -->
                                    </div> <!-- close .row -->

                                    <div class="form-group">
                                        <label for="user_email">
                                            Email address
                                        </label>
                                        <input class="form-control" required="required" type="email" value=""
                                            name="user[email]" id="user_email">

                                    </div> <!-- close .form-group -->

                                    <div class="form-group">
                                        <label for="user_username">
                                            Username <span class="text-secondary">(only letters, numbers, and
                                                underscores)</span>
                                        </label>
                                        <input class="form-control" required="required" type="text"
                                            name="user[username]" id="user_username">

                                    </div> <!-- close .form-group -->

                                    <div class="form-group">
                                        <label for="user_password">
                                            Password <span class="text-secondary">(min. 6 char)</span>
                                        </label>
                                        <input autocomplete="off" minlength="6" class="form-control "
                                            required="required" type="password" name="user[password]"
                                            id="user_password">

                                    </div> <!-- close .form-group -->

                                    <div class="form-group">
                                        <a href="#" class="btn btn-default btn-block-level">Join</a>


                                    </div> <!-- close .form-group -->

                                    <div class="form-group text-center">
                                        <p class="text-secondary zeta">By joining, you agree to the <a
                                                href="#">Terms</a>
                                            and <a href="#">Privacy Policy</a>.</p>
                                    </div>

                                </form>
                            </div> <!-- close .form -->
                        </div> <!-- close .col -->
                    </div> <!-- close .row -->

                </div> <!-- close .login-form -->
                <div class="spacer"></div>
            </div> <!-- close .right-panel -->
        </div>
    </div>

    <script src="../assets/js/materialize.js"></script>
    <script src="../assets/js/materialize.min.js"></script>
</body>

</html>